.theme-blue {
  --color-default-background: #eef2ff;
  --color-default-text: black;
  --color-current-page-background: #abaeb8;
  --color-faded-text: #696969;
  --color-pages-background: rgba(214, 218, 240, 0.9);
  --color-panel-background: #e2e5f8;
  --color-post-background: #d6daf0;
  --color-tag-background: #dbdef1;
  --color-tag-include-background: #86b5f3;
  --color-tag-exclude-background: #f76956;
  --color-tag-included: #0f70ee;
  --color-comment-background: #d6daf0;
  --color-comment-header-background: #c9cde8;
  --color-comment-header-border: #c9cde8;
  --color-divider: #b7c5d9;
  --color-link: #34345c;
  --color-link-hover: #d00;
  --color-comment-username: #046915;
  --color-quote: #789922;
  --color-headerbar-background: rgba(214, 218, 240, 0.98);
  --color-headerbar-border: #b7c5d9;
  --color-headerbar-text: #89a;
}
