.theme-blue {
  --color-default-background: #eef2ff;
  --color-default-text: black;
  --color-current-page-background: #abaeb8;
  --color-faded-text: #696969;
  --color-pages-background: rgba(214, 218, 240, 0.9);
  --color-panel-background: #e2e5f8;
  --color-post-background: #d6daf0;
  --color-tag-background: #dbdef1;
  --color-tag-included: #0f70ee;
  --color-description-background: #d6daf0;
  --color-description-header-background: #c9cde8;
  --color-link: #34345c;
  --color-link-hover: #d00;
  --color-headerbar-background: rgba(214, 218, 240, 0.98);
  --color-headerbar-border: #b7c5d9;
  --color-headerbar-text: #89a;
  --color-horizontal-line: #b7c5d9;
}
