.theme-dark {
  --color-username-admin: #f34343;
  --color-default-background: #1d1f21;
  --color-default-text: #c5c8c6;
  --color-error-text: red;
  --color-dialog-background: #1a1b1f;
  --color-dialog-header-background: #282a2e;
  --color-table-divider: #070808;
  --color-current-page-background: #313437;
  --color-faded-text: #696969;
  --color-pages-background: rgba(27, 27, 27, 0.9);
  --color-panel-background: #1a1b1f;
  --color-panel-button-background: #141518;
  --color-post-background: #151618;
  --color-tag-background: #151618;
  --color-tag-include-background: #0e4da0;
  --color-tag-exclude-background: #8f0c0c;
  --color-tag-included: #47d482;
  --color-comment-background: #282a2e;
  --color-comment-header-background: #252525;
  --color-comment-header-border: #1d1d1d;
  --color-divider: #282a2e;
  --color-link: #81a2be;
  --color-link-hover: #5f89ac;
  --color-comment-username: #22ad65;
  --color-quote: #b5bd68;
  --color-headerbar-background: #282a2e;
  --color-headerbar-border: #111;
  --color-headerbar-text: #c5c8c6;
  --color-list-background: #131415;
  --color-list-alt-background: #18191a;
  --color-list-header-background: #292a2d;
}
