.theme-dark {
  --color-default-background: #1d1f21;
  --color-default-text: #c5c8c6;
  --color-current-page-background: #313437;
  --color-faded-text: #696969;
  --color-pages-background: rgba(27, 27, 27, 0.9);
  --color-panel-background: #1a1b1f;
  --color-post-background: #151618;
  --color-tag-background: #151618;
  --color-tag-included: #47d482;
  --color-description-background: #282a2e;
  --color-description-header-background: #252525;
  --color-link: #81a2be;
  --color-link-hover: #5f89ac;
  --color-headerbar-background: #282a2e;
  --color-headerbar-border: #111;
  --color-headerbar-text: #c5c8c6;
  --color-horizontal-line: #282a2e;
}
